table.explainrow {
  border: 1px solid;
}

table.explainrow > tr {
  border: 1px solid;
}

table.explainrow > tr > td {
  border: 1px solid;
}

body {
	font-family: Segoe UI,Helvetica,Arial,sans-serif;
}

#tree {
	background-color: #edeef9;
	margin: 10px;
	line-height: 92%;
}
