table.explainrow {
  border: 1px solid;
  border-collapse: collapse;
  margin: 5px;
}

table.explainrow > tr {
  border: 1px solid;
}

table.explainrow > tr > td {
  border: 1px solid;
}

table.simpletable {
  border: 1px solid;
  border-collapse: collapse;
}

table.simpletable > tr {
  border: 1px solid;
}

table.simpletable > tr > td {
  border: 1px solid;
}

body {
	font-family: Segoe UI,Helvetica,Arial,sans-serif;
}

#tree {
	background-color: #edeef9;
	margin: 10px;
	line-height: 92%;
}

textarea {
	white-space: pre;
}
